</html>

<footer>
    
        <article class="footer-info">
            <h2>>PocketTowne.io <span class="copyright">©</span> 2023</h2>
            <div class="wrap">Policy IDs</div>
            <div class="wrap">Dolls: ce85ef5fd643bca1d17facdbc74a83c8568689dcf2e5bf3ee120f102</div>
            <div class="wrap">Pocket Change: 007394e3117755fbb0558b93c54ce3bc6c85770920044ade143dc742</div>
            <div class="wrap">Estates: 2af98b94c4a9c380d464161e47f983c4f9817822044be1e1b4979cf8</div>
            <div class="wrap">Land: 79631a72d44608d24a3a2d226e90a20c58aa444aa76315b3119245eb</div>
            <h2>Lick Your Screen Games, LLC<h2>
            
        </article>
        
        <div class="footer-logos">
         <a href="https://adania.io/home" target="_blank"><img src="../images/footerlogos/adania_logo.png"></a>
          <a href="https://cardano.org" target="_blank"><img src="../images/footerlogos/Cardano-logo-265x164.png"></a>
          <a href="https://www.cardastation.com/" target="_blank"><img src="../images/footerlogos/cardastation.png"></a>
          <a href="https://charly-token.io/" target="_blank"><img src="../images/footerlogos/Charly.png"></a>
          <a href="https://twitter.com/CharlzToken" target="_blank"><img src="../images/footerlogos/Charlz_bw.png"></a>
          <a href="https://deependpool.net" target="_blank"><img src="../images/footerlogos/deep_logo.png"></a>
          <a href="https://dripdropz.io" target="_blank"><img src="../images/footerlogos/dripdropz.png"></a>
          <a href="https://gobfamcnft.com/" target="_blank"><img src="../images/footerlogos/gobfam_logo.png"></a>
          <a href="https://kanitoken.org/" target="_blank"><img src="../images/footerlogos/KaniToken.png"></a>
          <a href="https://koios.rest/" target="_blank"><img src="../images/footerlogos/KoiosLogo.png"></a>
          <a href="https://www.projectliberty.io/" target="_blank"><img src="../images/footerlogos/LibertyProject.png"></a>
          <a href="https://minswap.org/" target="_blank"><img src="../images/footerlogos/minswap_logo.png"></a>
          <a href="https://muesliswap.com" target="_blank"><img src="../images/footerlogos/muesliswap_logo.png"></a>
          <a href="https://www.sickcitynft.com/" target="_blank"><img src="../images/footerlogos/sick_city_white.png"></a>
          <a href="https://www.spacetimemeta.io/" target="_blank"><img src="../images/footerlogos/SpaceTimeLogo.png"></a>
          <a href="https://app.tosidrop.io/cardano/claim" target="_blank"><img src="../images/footerlogos/TosiDrop.png"></a>
          <a href="https://unrealengine.com" target="_blank"><img src="../images/footerlogos/UE_Logo_stacked_unreal-engine_white.png"></a>
          <a href="https://www.wolfcardano.io/" target="_blank"><img src="../images/footerlogos/wolf_logo.png"></a>
          <a href="https://yolosolos.io" target="_blank"><img src="../images/footerlogos/YoloSolosLogo_2.png"></a>
        </div>
     

</footer>