</html>


<nav class="navbar">

    <div class="nav-container">

        <input class="checkbox" type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>      
        
        <ul class="hamburger-list">
            <a class="h-ul-a" href="/"><li>Home</li></a>
            <a class="h-ul-a" href="assets"><li>Buy</li></a>
            <a class="h-ul-a" href="/#faq"><li>FAQ</li></a>
            <a class="h-ul-a" href="/#roadmap"><li>Roadmap</li></a>
            <a class="h-ul-a" href="/#team"><li>Team</li></a>
            <a class="h-ul-a" href="paper"><li>Pocket-Paper</li></a>
            <a class="h-ul-a" href="https://account.pockettowne.io/" target="_blank"><li>Account</li></a>
            
            <a class="h-ul-a" href="brawl"><li>Brawl</li></a>
            
        </ul>
        
 
        
      </div>

    <ul class="desktop-list">
        <a class="d-ul-a" href="/"><li>Home</li></a>
        <a class="d-ul-a" href="assets"><li>Buy</li></a>
        <a class="d-ul-a" href="/#faq"><li>FAQ</li></a>
        <a class="d-ul-a" href="/#roadmap"><li>Roadmap</li></a>
        <a class="d-ul-a" href="/#team"><li>Team</li></a>
        <a class="d-ul-a" href="paper"><li>Pocket-Paper</li></a>
        <a class="d-ul-a" href="https://account.pockettowne.io/" target="_blank"><li>Account</li></a>
       
        <a class="d-ul-a" href="brawl"><li>Brawl</li></a>
        
    </ul>
</nav>