</html>


<nav class="navbar">
    <ul>
        <a href="/"><li>Home</li></a>
        <a><li>FAQ</li></a>
        <a><li>Roadmap</li></a>
        <a><li>Team</li></a>
        <a><li>Pocket-Paper</li></a>
        <a href="https://account.pockettowne.io/"><li>Account</li></a>
        <a href="assets"><li>Buy</li></a>
        <a href="brawl"><li>Brawl</li></a>
        
    </ul>
</nav>