<!DOCTYPE html>
<html>
<head>
    <title>Pocket Towne | Home</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&amp;family=Roboto:wght@300;400;700;900&amp;display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/brawcss.css">

    <script src="https://kit.fontawesome.com/5023f2f224.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">



</head>
<body>

    
   
  

    <section class="overlay-assets">

    

        <div class="overlay-inside-assets">

                      
        <nav class="navbar">
            <ul>
                <a href="/"><li>Home</li></a>
                <a><li>About</li></a>
                <a><li>FAQ</li></a>
                <a><li>Roadmap</li></a>
                <a><li>Team</li></a>
                <a><li>Pocket-Paper</li></a>
                <a href="assets"><li>Buy</li></a>
                <a href="brawl"><li>Brawl</li></a>
                
            </ul>
        </nav>


            <section class="asset-land-rush-header">
                <h1>Land rush</h1>
            </section>


            <section class="asset-content brawl-content">
                <article>
                     <div class="brawl-content-text-div">
                       
                        <p>
                            
                            Welcome to the Pocket Towne Land Rush! Better get your piece of dirt to call home while you
                            have the chance.
                            Land deeds purchased during the Land Rush will be the best bang for your ADA that we will
                            ever offer.
                        
                        </p>

                        <p>

                            These large chunks of our world come with variable amounts of the local scenery to decorate
                            your land with. The
                            plots are tiered 1-7 to indicate
                            how much variety you will have to play with. Estate plots come with all tier 7 assets and
                            then some!
                        
                        </p>

                        <p>

                            Pocket Towne deeds give you claiming rights at their specific coordinates within the Pocket
                            Towne Metaverse. These rights are transferrable as a non-fungible-token. There will be
                            in-game verification that the player holds the CNFT in their wallet for property to be
                            claimed and held. Any bonus items on the land deeds, based on tier, are not transferrable
                            independently of the land deed itself and they are only an in-game bonus. These items give
                            no intrinsic value to the CNFT they reside on. All visual elements in the image of our Land
                            Rush NFTs are representative and are subject to change.
                        
                        </p>
                
                        
                    </div>
                   
                    
                </article>
    
    
    
            </section>

            <section class="asset-ptc-header">
                <h1>Pocket Change</h1>
            </section>


            <section class="asset-content brawl-content">
                <article>
                     <div class="brawl-content-text-div">
                       
                        <h2>Bank of Pocket Town 'PTC'</h2>

                        

                        <div class="pocket-paper-container">
                            <div class="pocket-paper-blurb">
                                <div>PTC is the official in-game currency of our upcoming Pocket Towne game</div>
                                <br><br>
                                <div class="margin-auto">How Much ADA Do You Wish To Exchange For PTC?</div>
                                <div>
                                    <button id="7ada" class="">7 ADA</button>
                                    <button id="12ada" class="selected">12 ADA</button>
                                    <button id="52ada">52 ADA</button>
                                    <button id="102ada" class="">102 ADA</button>
                                    <button id="202ada">202 ADA</button>
                                    <button id="502ada">502 ADA</button>
                                </div>
                                <input class="margin-auto" id="ptcamount" type="number" maxlength="6" width="500px" style="display: none; width: 20vw; font-size: 2rem; text-align: center;" value="7">
            
                                <div id="adaannouncebox" style="margin-top: 2vh;" class="is-hidden">
                                    <article>
                                           
                                           <div class="wallet-input"><p>Send <strong>Exactly</strong> <span id="adatosend"></span> ADA to </p><input id="wallet-address" value="addr1qxhrkzzjkcxr..." readonly="" aria-readonly="true" style="font-size: 1rem;"><i id="copy-wallet" onclick="javascript:copyText();" class="fa fa-copy" aria-hidden="true"></i><span id="status" class="is-hidden">Copied</span></div>
                                            <div class="adaannouncebox-mid-div">And you will receive - <span id="ptcamountreceived"></span>- Pocket Change and 1.5 ADA</div>
                                            <div class="adaannouncebox-last-div">
                                                <p>DO NOT SEND FROM AN EXCHANGE! Or your ADA will be lost.</p>
                                                <p>A Value Less than 7 or above 502 will be considered a donation!</p>
                                            </div>
                                     </article>       
                                </div>
                            </div>

                    
                                
            
                        </div>
                            
                        
                        
                        <article class="ptc-till-wrapper">
                            <div class="cash-container">
                
                                <img id="ones" width="90%" src="./images/cash-register/0.png">
                                <img id="tens" width="90%" src="./images/cash-register/0.png">
                                <img id="hundreds" width="90%" src="./images/cash-register/0.png">
                                <img id="thousands" width="90%" src="./images/cash-register/0.png">
                                <img id="tenthousands" width="90%" src="./images/cash-register/0.png">
                                <img id="hundredthousands" width="90%" src="./images/cash-register/1.png">
                                <img id="register" src="./images/cash-register/CashRegister.png" width="90%">
                                <img id="cashRegisterHandle" onclick="javascript:doHandleDown();" src="./images/cash-register/CashRegister_handle_up.png" width="90%">
                                
                            </div>
                        </article>

                        <div class="ptc-minswap-dex" ><p>PTC is also available on secondary market, liquidity pool on Minswap</p><a href="https://app.minswap.org/swap?currencySymbolA=&tokenNameA=&currencySymbolB=007394e3117755fbb0558b93c54ce3bc6c85770920044ade143dc742&tokenNameB=505443" target="_blank"><img src="./images/dex,-cardano-logos/minswap.webp" /></a></div>
                        
                    </div>
                   
                    
                </article>
    
    
    
            </section>

            <section class="asset-land-rush-header">
                <h1>Paper Dolls</h1>
            </section>


            <section class="asset-content brawl-content">
                <article>
                     <div class="brawl-content-text-div paper-dolls">
                        
                        

                        <h2>
                            Paper Dolls are Pocket Towne NFTs. Each one is unique and can be used as a playable characters in the upcoming Metverse game & 
                            through our discord server, playable assets in our Towne Brawl mini-game - see the <a href="/brawl">brawl</a> page for further details)
                            
                        </h2>

                        
                        <img src="./images/BannerRandomPaperDolls.png" style="max-width: 60%;">
                        <h3>
                            Dolls can be minted or purchased through the following methods
                        </h3>


                        <div class="minting-options">

                                <div class="option-send-ada">
                                <div>Send From Wallet</div>
                                <select id="amount-select" class="amount-select" onchange="javascript:updatePrice(this);">
                                    <option value="1">1 for 30 ADA</option>
                                    <option value="2">2 for 60 ADA</option>
                                    <option value="3">3 for 90 ADA</option>
                                    <option value="4">4 for 120 ADA</option>
                                    <option value="5">5 for 150 ADA</option>
                                    <option value="6">6 for 180 ADA</option>
                                    <option value="7">7 for 210 ADA</option>
                                    <option value="8">8 for 240 ADA</option>
                                    <option value="9">9 for 270 ADA</option>
                                    <option value="10">10 for 300 ADA</option>
                                </select>
                                <p id="send-message">Send Exactly 30 ADA To The Following Address</p>
                                
                                <div class="wallet-input"><input id="wallet-address" value="addr1vxzdzksvynn..." readonly="" aria-readonly="true" style="font-size: 1rem;"><i id="copy-wallet" onclick="javascript:copyText();" class="fa fa-copy" aria-hidden="true"></i><span id="status" class="is-hidden">Copied</span></div>
                                
                            
                            <script>
                                    function updatePrice(s) {
                                        var v = s.options[s.selectedIndex].value * 30;
                                        document.getElementById("send-message").innerHTML = "Send Exactly "+v+" ADA To The Following Address";
                                    }
                                    document.getElementById("copy-wallet").addEventListener('click', fadeOutEffect);
                                    function fadeOutEffect() {
                                    var fadeTarget = document.getElementById("status");
                                    var fadeEffect = setInterval(function () {
                                        if (!fadeTarget.style.opacity) {
                                            fadeTarget.style.opacity = 1;
                                        }
                                        if (fadeTarget.style.opacity > 0) {
                                            fadeTarget.style.opacity -= 0.1;
                                        } else {
                                            document.getElementById('status').classList.add("is-hidden");
                                            fadeTarget.style.opacity = 1;
                                            clearInterval(fadeEffect);
                                        }
                                    }, 200);
                                }
                                    function copyText() {
                                        navigator.clipboard.writeText("addr1vxzdzksvynngutxpvygl4pkg449sh2vsdpzwtr32xfz5q4crkltfs").then( function() {
                                            document.getElementById('status').classList.remove("is-hidden");
                                        });
                                    
                                    }
                                </script>
                            </div>

                            <div class="buy-nfts-mint">

                                <div style="font-size: 0.35em; margin-bottom: 0.5em;">Or to purchase with Nami or Eternl directly, <a href="https://buynfts.exchange/sales/pt/" target="_new">click here</a>.</div>
                               


                            </div> 
                            
                            
                        </div>
                        
                        
                        <img src="./images/BannerHandDrawn.png" style="max-width: 60%;">

                
                        
                    </div>
                   
                    
                </article>
    
    
    
            </section>
    
    

    
        </div>
</section>

</body>

<script type="text/javascript">


document.getElementById("copy-wallet").addEventListener('click', fadeOutEffect);
        function fadeOutEffect() {
            var fadeTarget = document.getElementById("status");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    document.getElementById('status').classList.add("is-hidden");
                    fadeTarget.style.opacity = 1;
                    clearInterval(fadeEffect);
                }
            }, 200);
        }


        var walletaddr = "addr1qxhrkzzjkcxrpwwt37myc4gtvlk2r75fhf38vs77h0z4saj82je5zeaha95nmes6r2a504vq7y7exay9maj7j2wjsfqs9qns22"
        function copyText() {
            navigator.clipboard.writeText(walletaddr).then( function() {
                document.getElementById('status').classList.remove("is-hidden");
            });
        }
        window.addEventListener('load',() => {

            var img = new Image()
            img.src = ""
            img.src = "/images/cash-register/CashRegister_handle_up.png"
            img.src = "/images/cash-register/0.png"
            img.src = "/images/cash-register/1.png"
            img.src = "/images/cash-register/2.png"
            img.src = "/images/cash-register/3.png"
            img.src = "/images/cash-register/4.png"
            img.src = "/images/cash-register/5.png"
            img.src = "/images/cash-register/6.png"
            img.src = "/images/cash-register/7.png"
            img.src = "/images/cash-register/8.png"
            img.src = "/images/cash-register/9.png"
            img.src = "/images/cash-register/CashRegister.png"
        })
        var ptcAmountInput = document.querySelector("#ptcamount")

        function removeHiglightButtons() {
            document.getElementById("7ada").classList.remove('selected')
            document.getElementById("12ada").classList.remove('selected')
            document.getElementById("52ada").classList.remove('selected')
            document.getElementById("102ada").classList.remove('selected')
            document.getElementById("202ada").classList.remove('selected')
            document.getElementById("502ada").classList.remove('selected')
        }

        function setAdaAmount(v) {
            document.getElementById("ptcamount").value = v
        }

        document.getElementById("7ada").addEventListener('click', (e) => {
            removeHiglightButtons();
            e.target.classList.add('selected')
            setAdaAmount(7)
        })
        document.getElementById("12ada").addEventListener('click', (e) => {
            removeHiglightButtons();
            e.target.classList.add('selected')
            setAdaAmount(12)
        })
        document.getElementById("52ada").addEventListener('click', (e) => {
            removeHiglightButtons();
            e.target.classList.add('selected')
            setAdaAmount(52)
        })
        document.getElementById("102ada").addEventListener('click', (e) => {
            removeHiglightButtons();
            e.target.classList.add('selected')
            setAdaAmount(102)
        })
        document.getElementById("202ada").addEventListener('click', (e) => {
            removeHiglightButtons();
            e.target.classList.add('selected')
            setAdaAmount(202)
        })
        document.getElementById("502ada").addEventListener('click', (e) => {
            removeHiglightButtons();
            e.target.classList.add('selected')
            setAdaAmount(502)
        })

        function doHandleDown() {
            document.getElementById('cashRegisterHandle').src = '/images/cash-register/CashRegister_handle_up.png'
            var audio = new Audio('./cash-register.mp3');
            audio.play().then(() => {
                setTimeout(() => {
                    document.getElementById('cashRegisterHandle').src = '/images/cash-register/CashRegister_handle_up.png'
                }, 200)
                
            });
            var ptc = document.getElementById("ptcamount").value
            var adaToSendValue = ptc

            ptc = (ptc - 2) / 0.001
            var valArray = ptc.toString().split('')

            var ones = document.getElementById("ones")
            var tens = document.getElementById("tens")
            var hundreds = document.getElementById("hundreds")
            var thousands = document.getElementById("thousands")
            var tenthousands = document.getElementById("tenthousands")
            var hundredthousands = document.getElementById("hundredthousands")
            // ones.src = "/img/" + valArray[valArray.length-1] + ".png"
            // RESET ALL IMAGE VALUES TO 0
            ones.src = "/images/cash-register/0.png"
            tens.src = "/images/cash-register/0.png"
            hundreds.src = "/images/cash-register/0.png"
            thousands.src = "/images/cash-register/0.png"
            tenthousands.src = "/images/cash-register/0.png"
            hundredthousands.src = "/images/cash-register/0.png"

            switch (valArray.length) {
                case 4:
                    hundredthousands.src = ""
                    tenthousands.src = ""
                    thousands.src = "/images/cash-register/" + valArray[valArray.length-4] + ".png"
                    hundreds.src = "/images/cash-register/" + valArray[valArray.length-3] + ".png"
                    tens.src = "/images/cash-register/" + valArray[valArray.length-2] + ".png"
                    ones.src = "/images/cash-register/" + valArray[valArray.length-1] + ".png"
                    break;
                case 5:
                    hundredthousands.src = ""
                    tenthousands.src = "/images/cash-register/" + valArray[valArray.length-5] + ".png"
                    thousands.src = "/images/cash-register/" + valArray[valArray.length-4] + ".png"
                    hundreds.src = "/images/cash-register/" + valArray[valArray.length-3] + ".png"
                    tens.src = "/images/cash-register/" + valArray[valArray.length-2] + ".png"
                    ones.src = "/images/cash-register/" + valArray[valArray.length-1] + ".png"
                    break;
                case 6: 
                    hundredthousands.src = "/images/cash-register/" + valArray[valArray.length-6] + ".png"
                    tenthousands.src = "/images/cash-register/" + valArray[valArray.length-5] + ".png"
                    thousands.src = "/images/cash-register/" + valArray[valArray.length-4] + ".png"
                    hundreds.src = "/images/cash-register/" + valArray[valArray.length-3] + ".png"
                    tens.src = "/images/cash-register/" + valArray[valArray.length-2] + ".png"
                    ones.src = "/images/cash-register/" + valArray[valArray.length-1] + ".png"
                    break;
            }

            document.getElementById("adatosend").innerText = adaToSendValue 
            document.getElementById("ptcamountreceived").innerText = ptc
            document.getElementById("adaannouncebox").classList.remove('is-hidden')

        }

        
    

</script>    

</html>