<!DOCTYPE html>
<html>
<head>
    <title>Pocket Towne | Home</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&amp;family=Roboto:wght@300;400;700;900&amp;display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/brawcss.css">

    <script src="https://kit.fontawesome.com/5023f2f224.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">



</head>
<body>

    
   
            
   <nav class="navbar">
    <ul>
        <a href="/"><li>Home</li></a>
        <li>About</li>
        <li>FAQ</li>
        <li>Roadmap</li>
        <li>Info</li>
        <li>Genesis Dolls</li>
        <a href="assets"><li>Buy</li></a>
        <a href="brawl"><li>Brawl Bot</li></a>
        
     </ul>
    </nav>

    <section class="overlay-assets">

    

        <div class="overlay-inside-assets">


            <section class="asset-land-rush-header">
                <h1>Land rush</h1>
            </section>


            <section class="asset-content brawl-content">
                <article>
                     <div class="brawl-content-text-div">
                       
                        <p>
                            
                            Welcome to the Pocket Towne Land Rush! Better get your piece of dirt to call home while you
                            have the chance.
                            Land deeds purchased during the Land Rush will be the best bang for your ADA that we will
                            ever offer.
                        
                        </p>

                        <p>

                            These large chunks of our world come with variable amounts of the local scenery to decorate
                            your land with. The
                            plots are tiered 1-7 to indicate
                            how much variety you will have to play with. Estate plots come with all tier 7 assets and
                            then some!
                        
                        </p>

                        <p>

                            Pocket Towne deeds give you claiming rights at their specific coordinates within the Pocket
                            Towne Metaverse. These rights are transferrable as a non-fungible-token. There will be
                            in-game verification that the player holds the CNFT in their wallet for property to be
                            claimed and held. Any bonus items on the land deeds, based on tier, are not transferrable
                            independently of the land deed itself and they are only an in-game bonus. These items give
                            no intrinsic value to the CNFT they reside on. All visual elements in the image of our Land
                            Rush NFTs are representative and are subject to change.
                        
                        </p>
                
                        
                    </div>
                   
                    
                </article>
    
    
    
            </section>

            <section class="asset-ptc-header">
                <h1>Pocket Change</h1>
            </section>


            <section class="asset-content brawl-content">
                <article>
                     <div class="brawl-content-text-div">
                       
                        <h2>Bank of Pocket Town</h2>

                        <h3>How much Ada do you wish to exchange for PTC?</h3>
                        
                        <article class="ptc-till-wrapper">
                            <h3>Pull lever To Complete Sale</h3>
                            <aside>
                                <img src="./images/CashRegister_handle_up.png">
                            </aside>
                        </article>
                        
                    </div>
                   
                    
                </article>
    
    
    
            </section>
    
    

    
        </div>
</section>

</body>

</html>