<!DOCTYPE html>
<html>
<head>
    <title>Pocket Towne | Home</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&amp;family=Roboto:wght@300;400;700;900&amp;display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/brawcss.css" >

    <script src="https://kit.fontawesome.com/5023f2f224.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">



</head>
<body>

     

   
            
 

    <section class="overlay">
    <div class="overlay-inside">
        <nav class="navbar">
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a><li>About</li></a>
                    <a><li>FAQ</li></a>
                    <a><li>Roadmap</li></a>
                    <a><li>Team</li></a>
                    <a><li>Pocket Paper</li></a>
                    <a href="assets"><li>Buy</li></a>
                    <a href="brawl"><li>Brawl</li></a>
                    
                </ul>
            </nav>


        
            <section class="brawl-splash">

                <aside id="adania" class="brawl-logo">
                    <img src="./images/Adania.png">
                </aside>

                <aside id="charlz" class="brawl-logo">
                    <img src="./images/charlz.png">
                </aside>
                
                <aside id="lurkers" class="brawl-logo">
                    <img src="./images/lurkers.jpg">
                </aside>
           
                <article class="brawl-splash-logo-container">
                    <h1>Towne</h1>
                     <img src="./images/CrossedSwords2.png"/>
                    <h1>Brawl</h1>

                  
                 </article>   
                 
                 <aside id="degenduck" class="brawl-logo">
                    <img src="./images/degen.webp">
                </aside>

                <aside id="king-charles" class="brawl-logo">
                    <img src="./images/KCharles logo 2000x2000px.png">
                </aside>

                <aside id="xrace" class="brawl-logo">
                    <img src="./images/x-race.png">
                </aside>
                

          
        
            </section>
        
        
        
        <section class="brawl-content">
            <article>
                 <div class="brawl-content-text-div">
                    <h2>
                        Brawl Bot - Towne Brawl
                    </h2>
                    <p>
                        The Brawl Bot was created to allow people to showcase their assets, all the while exposing other projects to people who may or may not know about them in an entertaining way.
                        <br>
                        Simply clicking a reaction icon on a brawl message in any given participating discords, you can engage in a battle to the death free-for-all competition, gain gold (other currencies are a future goal) and items to increase your chances of survival. 
                    </p>
            
                    
                </div>
                <div class="brawl-content-text-div">
                    <h2>
                        How To Play
                    </h2>
                
                    <p>
                        Simply join one of the discords of any of our partners and join a brawl by clicking the swords reaction on the brawl message. The currently active brawl is pinned to the channel automatically every round.
                        <br><br>
                        A brawl is executed automatically every 6 hours with all participants, and is server exclusive as far as your stats are concerned.
                        <br><br>
                        At the end of the brawl, the results are displayed along with each round winner and the final winner and loser's assets will be displayed as victory screen for all to see!
                        <br><br>
                        When a brawl starts, all of your assets that are supported will be gathered up and one is chosen at random to compete in the brawl. Depending on how many of the supported assets you hold in your wallet, you will receive a bonus to your fighters attack and hit points.
                        <br><br>
                        In order to have your assets linked, you will need to register an account on the Pocket Towne accounts page Here. 
                    </p>
                </div>
                <div class="brawl-content-text-div">
                    <h2>
                        Brawlers
                    </h2>
                
                    <p>
                       
                        Because every project is slightly different, we have tried to make it as fair as possible when calculating the strength of your brawler during any given fight.
                        <br>
                        <br>
                        The base stats of a fighter would be 100 Attack and 300 Hit Points. Depending on the rarity of your chosen fighter for that round, you will receive a percentage of those base stats.
                        <br>
                        <br>
                        Rarity of an asset is calculated by some defining propery of the asset involved. These can be calculated by a numerical value or values combined from the traits of the asset, or a rarity of your particular asset in comparison to every asset on that policy id.
                        <br>
                        <br>
                        <u>Scenario - Kardalls Pocket Towne Genesis Doll 'GenesisDoll01482'</u>
                        <br>
                        <br>
                        Genesis Dolls have a rarity somewhere in between 0 and 1. This particular one has a rarity of 0.487.
                        <br>
                        This means that, with rounding, approximately a 49 atk and 146 hp fighter.
                        <br>
                        <br>
                        On top of the base stats, any items accrued during battles that would affect attack and defense would be applied as a 'bonus' to attack and defensive stats, as well as a calculation is done according to how many of all participating project NFTs you hold in that same wallet. That is added to or subtracted to the damage value of an attack, depending if your fighter is on offense or defense.
                        <br>
                        <br>
                        Some projects do not have numerical values, so in some circumstances when it is harder to guage the rarity of a project, we discuss with the project owners about a fair way to resolve this issue.
                        <br>
                        <br>
                        While this is constantly being tuned as we add new projects, one of the more prominent ideas currently, is to average the selected fighters traits by the percentage of how many of the entire project has that particular trait. It gives a rough rarity value of your particular fighter.
                        <br>
                        <br>
                        As we continue to work on refining the calculations to make it as fair as possible across all projects, there will be bugs, and we are watching the brawls very carefully. Any reports will be forwarded to the developers and handled as fast as possible.
                        
                    </p>
                </div>

                <div class="brawl-content-text-div">
                    <h2>
                        Current Supported Servers
                    </h2>
                
                
                        <ul>  
                            <li>Pocket Towne - <i class="fa fa-discord"></i> <a class="discord-link" href="https://discord.gg/pKhGc54e5d" target="_new">Visit</a></li>
                            <li>Adania - <i class="fa fa-discord"></i> <a class="discord-link" href="https://discord.gg/PzZQ78PKH4" target="_new">Visit</a></li>
                            <li>Cavalier King Charles - <i class="fa fa-discord"></i> <a class="discord-link" href="https://discord.gg/kGcm5SdV4T" target="_new">Visit</a></li>
                            <li>Charlz Token - <i class="fa fa-discord"></i> <a class="discord-link" href="https://discord.gg/TQprdeWk4m" target="_new">Visit</a></li>
                            <li>X-Race - <i class="fa fa-discord"></i> <a class="discord-link" href="https://discord.gg/KnRN3FTbwM" target="_new">Visit</a></li>
                            <li>Lurkers - <i class="fa fa-discord"></i> <a class="discord-link" href="https://discord.gg/c3Vq5kYWBT" target="_new">Visit</a></li>
                            <li>Degen Ducks - <i class="fa fa-discord"></i> <a class="discord-link" href="https://discord.gg/sTua9gh5BM" target="_new">Visit</a></li>
                          </ul>
                    
                </div>
                
            </article>



        </section>

    </div>
    </section>
</body>


</html>