<!DOCTYPE html>
<html>
<head>
    <title>Pocket Towne | Home</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&amp;family=Roboto:wght@300;400;700;900&amp;display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css" >



</head>
<body>

    <section class="splash">
            
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>FAQ</li>
            <li>Roadmap</li>
            <li>Info</li>
            <li>Genesis Dolls</li>
            <li>Land Minting</li>
            
        </ul>
    </nav>

    <aside class="splash-logo-wrapper">
        <img src="./images/NewPTLogoNoBackground.png">
    </aside>

    <aside class="splash-blurb">
        <h2>After many years, we are now allowing visitors to live in our wonderful oasis again. Soon All Cardanians will be able to enjoy all the amenities that we Pocketers do. So show the new visitors our best hospitality and have a Hoppadoondong day!</h2>

    </aside>

    </section>

    <section class="game">

        <img src="images/pt-halls.png">
        <img src="images/pt-cowboy-cave.png">

    </section>
</body>


</html>