<!DOCTYPE html>
<html>
<head>
    <title>Pocket Towne | Brawl</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&amp;family=Roboto:wght@300;400;700;900&amp;display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/paper.css" >
    <link rel="stylesheet" href="css/footer.css">

    <script src="https://kit.fontawesome.com/5023f2f224.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">



</head>
<body>

     

   
            
 

    <section class="overlay">
    <div class="overlay-inside">
        
        <%- include('./partials/nav') %>
        
        
        
        <section class="paper-content">
            <article>
                 <div class="paper-content-text-div">
                    <h2>
                        Pocket-Paper
                    </h2>
                    <p>
                        
                        Pocket Towne is a place. A place we want to bring to life... 
                        a place that we have already imagined. 
                        A hidden gem in a desert oasis. Pocketers can create their own little getaway while gaming and socializing. 
                        We want to build a platform that gives artists another way to present their work, as well as a game that actively works to integrate other CNFT projects.
                        <br><br>Excited yet? If not, you should be!

                    </p>
            
                    
                </div>
                <div class="paper-content-text-div">
                    
                    <article class="mayorIntro">
                        
                        <img class="mayorImg" src="./images/MayorHoppa03.png">

                        <div class="speechBubble">
                            <p>
                                I do apologize for that dull statement.. the towne council made us put that nonsense first. 
                                I want to make sure you know what we're offrin', so allow me to speak plainly...
                            </p>

                        </div>


                    </article>

                    
                    <article class="speechQuestionArticle">

                        <p class="speechQuestion">
                            Want to own a house? We got those. 
                        
                        </p>

                        <p class="speechQuestion">
                            Rather live on a train? 
                            We want you to live on a train. 
                        </p>

                        <p class="speechQuestion">
                            Want a smaller space with noisey neighbors? 
                            We have second floor apartments for sale. 
                        </p>

                        <p class="speechQuestion">
                            You can own a space and you can make it just how you like it.
                        </p>
                    </article>


                    <article class="mayorIntro">
                        
                        

                        <div class="speechBubble2">
                            <p>
                                Maybe you like to have fun... well we have games too
                            </p>

                        </div>
                        <img class="mayorImg" src="./images/MayorHoppa03.png">

                    </article>

                    <article class="speechQuestionArticle">

                        <p class="speechQuestion2">
                            Relax with some beach bowling, play some paper basketball or...
                        
                        </p>

                        <p class="speechQuestion2">
                            Defend against the dreaded Goblin hordes at the edges of towne!
                        </p>

                        <p class="speechQuestion2">
                            Play with or against your buddies in a game of Pocket Checkers or Hoppadoondong Land.
                        </p>

                        <p class="speechQuestion2">
                           Take a load off and hang out with our friends, Our saloon doors never close.
                        </p>
                    </article>

                
                    

                </div>
                <div class="paper-content-text-div">
                    <h2> Land Sales</h2>
                    <p>
                        We will begin with residential homes and apartments for sale right beside our Pocket Towne square! Residential will expand further and further away from the center of towne. 
                        So, getting your property early might be a good idea. 
                        The towne square will serve as the business hub for Pocket 
                        Towne. Towne square land sales will involve directly working with our team to make sure your idea is integrated in a way that benefits your business while still fitting our theme. 
                        All of these properties will be permanently controlled by the owner as a CNFT. 
                    </p>

      
                </div>

                <div class="paper-content-text-div">
                    <h2> Token Distribution</h2>
                    <article class="token-details">

                        <img class="doonDongLogo" src="./images/pocketpaper/PocketChangeOneDoondong22sm.png">

                        <h3>Total Supply: 10, 000, 000, 000</h3>

                        <a href="https://pool.pm/policy/007394e3117755fbb0558b93c54ce3bc6c85770920044ade143dc742"><p>Policy Id</p></a>

                        <p>Pocket Change (PTC) will serve as the official currency of Pocket Towne.
                            It will be used for in-game spending, play to earn rewards and governance.
                            Initial Funding Fair Sale Price 0.001 ADA.</p>
                            

                    </article>

                    <article class="token-chart">

                        <div class="chart-display">
                            <canvas id="pt_chart" style=" box-sizing: border-box;"></canvas>
                            <script>
                                Chart.defaults.font.size = 16;
                                Chart.defaults.color = "black";
                                var xValues = ["Initial DEX and website sales", "In-Game Economy", "Secondary DEX/CEX and website sales", "SPO partner rewards / marketing ", "reserved for the founders", "Cardano ecosystem airdrops"];
                                var yValues = [25, 25, 20, 15, 10, 5];
                                var barColors = [
                                "#b91d47",
                                "#00aba9",
                                "#2b5797",
                                "#e8c3b9",
                                "#1e7145",
                                "#9817f3"
                                ];
                            
                                var c2 = new Chart("pt_chart", {
                                type: "pie",
                                data: {
                                    labels: xValues,
                                    datasets:
                                    [
                                        {
                                            backgroundColor: barColors,
                                            data: yValues
                                        }
                                    ]
                                },
                                options: {
                                    responsive: false,
                                    plugins: {
                                        legend: {
                                            display: false,
                                            position: "right",
                                            align: "middle"
                                        },
                                        tooltip: {
                                            enabled: false
                                            
                                        }
                                    }
                                }
                            });

                            </script>
                            <div class="legend">
                                <div><span class="s1">25<span class="copyright">%</span></span> Initial DEX and website sales <span class="copyright">(</span>Funding round 1<span class="copyright">)</span></div>
                                <div><span class="s2">25<span class="copyright">%</span></span> In-Game Economy</div>
                                <div><span class="s3">20<span class="copyright">%</span></span> Secondary DEX/CEX and website sales <span class="copyright">(</span>Funding round 2<span class="copyright">)</span></div>
                                <div><span class="s4">15<span class="copyright">%</span></span> SPO partner rewards <span class="copyright">/</span> Marketing</div>
                                <div><span class="s5">10<span class="copyright">%</span></span> Founders <span class="copyright">(</span>Cannot sell until post game launch<span class="copyright">)</span></div>
                                <div><span class="s6">5<span class="copyright">%</span></span> Cardano ecosystem airdrops</div>
                            </div>
                        </div>

                    </article>



      
                </div>
                
            </article>



        </section>

    </div>
    </section>

    <%- include('./partials/footer') %>
</body>


</html>