
@font-face {
    font-family: 'Hard Western';
    src: URL('./fonts/Hard\ Western.ttf') format('truetype');
  }

body{
font-family: 'Hard Western', 'Courier New', Courier, monospace;
letter-spacing: .15rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;


}

.navbar{
    width: 100%;
   
    backdrop-filter: blur(10px);
    filter: none;
    
    color: black;
    border-bottom: 3px solid #887a6e;
    box-shadow: -5px -4px 29px 4px rgba(136,122,110,0.82);
    -webkit-box-shadow: -5px -4px 29px 4px rgba(136,122,110,0.82);
    -moz-box-shadow: -5px -4px 29px 4px rgba(136,122,110,0.82);
    
    
}



.navbar ul {
    
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    


}

.navbar ul li, .navbar ul a{
    padding: 1% 2%;
    font-size: 1.1em;
    font-weight: 700;
    transition: text-shadow .5s, color .5s;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.navbar ul li:hover {
    cursor: pointer;
    color: #887a6e;
    text-shadow: 0 0 5px #f6ea8b,
                0 0 25px  #f6ea8b,
                0 0 50px #f6ea8b,
                0 0 100px #f6ea8b;
  }



.overlay{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;     
    
    
     
    position: relative;    

}

.overlay::before{
    content: "";

    height: 100%;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;/* parrallax */
    background-image: url('../images/pt-cowboy-sunset.png');
    
    filter:grayscale(10%);
    
    }  

.overlay-inside{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    

}  


.brawl-splash{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 11%);
    grid-template-rows: repeat(7, 100px);
    justify-content: center;
    
}

.brawl-splash-logo-container{
    grid-column: 4 / span 3;
    grid-row: 1 / span 2;
    text-align: center;

}

.brawl-logo{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#adania{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#charlz{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#lurkers{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#king-charles{
    grid-column: 8 / 9;
    grid-row: 1 / 2;
}

#degenduck{
    grid-column: 8 / 9;
    grid-row: 3 / 4;
}

#xrace{
    grid-column: 7 / 8;
    grid-row: 5 / 6;
}


.brawl-splash-logo-container h1{
    color: #ffe5a9;
    text-shadow: 0px -1px 21px #887a6e;
    font-size: 3em;
}

.brawl-splash img{
    width: 100%
}

.brawl-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em ;
    width: 80%;
    padding-bottom: 5%;

}

.brawl-content > article{
    width: 100%;
    color: rgb(255, 250, 240);
    display: flex;
    flex-direction: column;
   
   
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border: 3px solid #887a6e;
    box-shadow: -5px -4px 29px 4px rgba(136,122,110,0.82);
    -webkit-box-shadow: -5px -4px 29px 4px rgba(136,122,110,0.82);
    -moz-box-shadow: -5px -4px 29px 4px rgba(136,122,110,0.82);

    height: 100%;
    width: 100%;
    
    
    /*background-image: url('../images/cactus-frontier.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: #5c4e4798;
    background-blend-mode: color-burn;
    
    
    
    
    min-height: 600px;/* parrallax */
}


.brawl-content-text-div{
    display: flex;
    flex-direction: column;
    margin: 3% 3% 0 3%;
    padding: 0 2%;
    background-color:#af874a9f;
    border-radius: 1em;
    border: 2px solid #bf9f70;
    

}

.brawl-content-text-div h2{
    text-align: center;
}

.brawl-content-text-div:last-of-type{
    margin-bottom: 3%;
}

.brawl-content h2{
    font-size: 1.3em;
}

.brawl-content article p, .brawl-content article h2, .brawl-content article ul{
    padding: 3%;
}

/* assets page css */


.overlay-assets{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;     
    
    
     
    position: relative; 
    
    padding-bottom: 10%;

}

.overlay-assets::before{
    content: "";

    height: 100%;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;/* parrallax */
    background-image: url('../images/train.png');
    
    filter:saturate(110%);
    
    }  

    .overlay-inside-assets{
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }  

    .asset-content{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4em ;
        width: 90%;
        padding-bottom: 5%;
        color: rgb(255, 250, 240)
    
    }
    

  .asset-land-rush-header, .asset-ptc-header{
    padding: 3%;
    
    margin-top: 14%;
    position: relative;
    font-size: 3em;
    backdrop-filter: blur(2px);
    text-shadow: 0px -1px 21px #ffe5a9;

  } 
   /* Land rush css */

  #welcomevideo {
	border: 3px solid var(--clr-links-hover);
	border-radius: 1em;
}
 
.videoIntro{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.land-info-wrapper{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.land-info-article{
    width: 45%;
    background-color: #bd6e4a98;
    background-blend-mode: color-burn;

    border-radius: 1em;
    border: 2px solid #bf9f70;
    font-size: .9em;
    padding: 2%;
    

}

.land-info-aside > h3, .land-info-article > h3 {
    text-decoration: underline;
}

.land-info-article > h3{
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}


.land-legend{
    margin: 4% 0;
    display: flex;
    justify-content: center;
}

div.legend--marker {
    position: relative;
    z-index: 3;
    filter: none;
	width: 10px;
	height: 10px;
	margin: auto 10px auto 10px;
}



div.legend--marker-standard.desert {
	background-color: rgba(242,242,195,1.0);
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

div.legend--marker-standard.temperate {
	background-color: rgba(32,251,1,1.0);
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

div.legend--marker-standard.lush {
	background-color: rgba(4,36,0,1.0);
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

div.legend--marker-estate.desert {
	background-color: rgb(144, 117, 42);
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

div.legend--marker-estate.temperate {
	background-color: rgba(26,205,2,1.0);
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

div.legend--marker-estate.lush {
	background-color: rgba(8,67,00,1.0);
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

div.legend--marker-standard.sold {
	background-color: rgba(68, 93, 68, 0.8) !important;
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

div.legend--marker-estate.sold {
	background-color: rgba(0,0,0, 0.8) !important;
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.map{
    display: flex;
    flex-direction: column;
    margin: 3% 3% 0 3%;
    padding: 0 2%;
    background-color:#7763459f;
    border-radius: 1em;
    border: 2px solid #bf9f70;
    padding-bottom: 10%;
    
}



.landsale--grid  {
	width: 1062px;
	height: auto;
	position: relative;
	margin: 0 auto;
	border: 2px solid black;
}



.landsale--grid > img {
    width: 1062px;
    height: 660px;
}

#landsale--map {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

#landsale--paths {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
}

#landsale--symbols {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
}

.landgrid--row {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 9px;
}

.landgrid--cell-single {
	border: .5px solid rgba(0, 0, 0, 0.5);
	width: 8px;
	height: 8px;
	z-index: 500 !important;
}

.landgrid--cell-single.desert {
	background-color: rgba(242,242,195,1.0);
}
.landgrid--cell-reserved {
	/* background-color: rgb(49, 207, 154) !important; */
	border: 1px solid transparent;
	width: 8px;
	height: 8px;
	z-index: 500;
}
.landgrid--cell-single.sold {
	background-color: rgba(68, 93, 68, 0.8) !important;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.landgrid--cell-estate.tl {
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.landgrid--cell-estate.sold {
	background-color: rgba(0,0,0, 0.8) !important;
	border: 1px solid transparent;
}

.landgrid--cell-single.temperate {
	background-color: rgba(32,251,1,1.0);
}

.landgrid--cell-single.lush {
	background-color: rgba(4,36,0,1.0);
}
.landgrid--cell-estate.temperate {
	background-color: rgba(26,205,2,1.0);
}
.landgrid--cell-estate.desert {
	background-color: rgb(144, 117, 42);
}
.landgrid--cell-reserved.info {
	background-color: blue;
	border: 1px solid white;
	z-index: 500;
}

#tooltip {
	display: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.2rem;
	background: #ffffcc;
	border: 1px solid black;
	z-index: 9000;
	color: black;
	max-width: 400px;
	position: fixed;
	padding: .5em 1em;
}

.buy-land-article{
    margin-top: 3%;
    border-top: 4px solid #bf9f70;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-land-article-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.buy-land-article-header h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: .9em;
}






   

  .asset-ptc-header{

    margin-top: 10%;
  }

  .ptc-till-wrapper aside img{
    width: 50%;
  }


  /* cash register css */

  

  .cash-container {
	position: relative;
	width: 40vw;
	margin: 0 auto;
}

.pocket-paper-container {
	display: flex;
	flex-direction: column;
}

.pocket-paper-blurb {
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	padding: 2em;
}

.wallet-input {
	display: flex;
    justify-content: center;
	vertical-align:bottom;
}

.wallet-input-first-p{
    padding: 0%;
    margin: 1% 0;
}

#copy-wallet {
	font-size: 1rem;
	color: var(--clr-primary);
    display: flex;
    align-items: center;
}

#wallet-address{
   
    align-items: center;
}

.is-hidden {
	display: none;
    text-align: center;
}
    
#adaannouncebox > article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:normal;

}

.adaannouncebox-mid-div{
    display: flex;
    justify-content:center;
    align-items: center;
}

.adaannouncebox-last-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


#register {
	position: absolute;
	width: 40vw;
	top: 0;
	left: 0;
	z-index: 0;
}

    #ones, #tens, #hundreds, #thousands, #tenthousands, #hundredthousands {
        position: absolute;
        width: 40vw;
        top: 0;
        left: 0;
        z-index: 200;
    }

    #ones {
        left: 12.9vw;
    }

    #tens {
        left: 10.3vw;
    }

    #hundreds {
        left: 7.7vw;
    }

    #thousands {
        left: 5.2vw;
    }

    #tenthousands {
        left: 2.6vw;
    }

    #hundredthousands {
        left: 0.1vw;
    }

    #cashRegisterHandle {
        position: relative;
        width: 40vw;
        top: 0;
        left: 0;
        z-index: 200;
    }

    .ptc-minswap-dex{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .ptc-minswap-dex > a{
        display: flex;
        align-items: center;
    }
  
    

    /* PAPER DOLLS CSS */

    .paper-dolls{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .paper-dolls h1{
        font-size: 2.5em ;
    }

    .minting-options{
        margin-top: 5%;
        padding-bottom: 3%;
        margin-bottom: 5%;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 1.2em;

    }

    .option-send-ada {
        grid-column: 1 / 2;
        grid-row: 1/2;
        min-width: 15%;
        
        text-align: center;
        border-right: 4px solid #bf9f70;
        padding-bottom: 3%;
    }

    .buy-nfts-mint{
        grid-column: 2 /3;
        grid-row: 1/2;
        
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3%;

    }

    .buy-nfts-mint > h2{
        text-align: center;
    }

    .buy-nfts-mint p{
        padding-left: 5%;
        
        text-align: center;
    }

    .secondary-nfts{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top:  4px solid #bf9f70;;

    }

    .secondary-nfts > aside{
        display: flex;
        justify-content: space-around;
    }

    .secondary-nfts > aside > a {
        
        padding: 0 2%;
        
    }

    .secondary-nfts > aside > a > img{
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        width: 70%;
    }

    .amount-select {
        font-size: 1rem;
        text-align: center;
        padding-left: 0.5em;
    }

    .wallet-input {
        display: inline-flex;
        vertical-align: middle;
    }

     /* Footer CSS  */
  footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    padding-top: 3%;
    border-top: 5px solid black;


  }

  footer::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../images/SplashLogosm02-short.png');
    background-size: cover;
    filter: grayscale(100%);

  }

  .footer-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    font-size: 1.2em;
    text-align: center;
   backdrop-filter: blur(2px);
   background-color:#7763459f;
    border-radius: 1em;
    border: 2px solid #bf9f70;
    padding: 3%;
    padding-bottom: 0;
    margin-bottom: 1%;
  }

  .footer-info > p, .footer-info > div{
    padding: .5% 0;

  }

  .footer-info > h2{
    font-size: 1.1em;
    padding: 2% 0;;
  }

  .footer-info .wrap{
    font-size: .9em;
    padding: 0;
  }

  .footer-logos{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    z-index: 1;
  }

  .footer-logos > a img {
	max-width: 100px;
	margin-inline: 0.5em;
}