
@font-face {
    font-family: 'Hard Western';
    src: URL('./fonts/Hard\ Western.ttf') format('truetype');
  }

body{
font-family: 'Hard Western', 'Courier New', Courier, monospace;
letter-spacing: .15rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;


}

.navbar{
    width: 100%;
   
    opacity: 1;
    background-color: #f4361a;
    color: black;
    z-index: 2;
    position: sticky;
    
    transition: background-color 1s linear, width 1s linear, margin-left 1s linear;
    
    
}



.navbar ul {
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: none;
    filter: none;


}

.navbar ul li{
    padding: 1% 2%;
    font-size: 1.2em;
    font-weight: 700;
}



.overlay{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;     
    
    
     
    position: relative;    

}

.overlay::before{
    content: "";

    height: 100%;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;/* parrallax */
    background-image: url('../images/pt-cowboy-sunset.png');
    
    filter:grayscale(80%);
    
    }  

.overlay-inside{
    position: relative;
    display: flex;
    justify-content: center;
    

}  


.brawl-splash{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 11%);
    grid-template-rows: repeat(7, 13%);
    justify-content: center;
    
}

.brawl-splash-logo-container{
    grid-column: 4 / span 3;
    grid-row: 1 / span 3;
    text-align: center;

}

.brawl-logo{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#adania{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#charlz{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#lurkers{
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

#king-charles{
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}

#degenduck{
    grid-column: 8 / 9;
    grid-row: 4 / 5;
}

#xrace{
    grid-column: 7 / 8;
    grid-row: 6 / 7;
}


.brawl-splash-logo-container h1{
    color: gold;
    font-size: 3em;
}

.brawl-splash img{
    width: 100%
}

